@import "../../variables.module.scss";

.container {
  position: relative;

  button {
    border-radius: 50%;
    background-color: transparent;
    border: 0;

    &:hover {
      cursor: pointer;
    }
  }

  .card_logout {
    display: flex;
    align-items: center;
    padding: 20px 12px;
    box-shadow: $boxShadowCard;
    border-radius: 8px;
    font-size: 12px;
    letter-spacing: 0.25px;
    color: $textButtonLogout;
    font-family: "Monteserrat", sans-serif;
    position: absolute;
    right: 0;
    bottom: 10px;

    img {
      margin-right: 5px;
    }
  }
}
