$fontGrey: #374952;
$placeHolder: #a5a5a5;
$labelLink: #263238;
$boxShadowCard01: 0px 0px 32px #0000001a;
$boxShadowCard02: 0px 4px 8px 2px #0000001a;
$white: #ffffff;
$backgroundGlobal: #f7f7f7;
$error: #ff0000;
$borderLabel: #4c4c4c;
$backgroundButton: #da0175;
$backgroundButtonSecondary: #ffffff;
$textAndBorderButtonSecondary: #da0175;
$buttonDisabled: #da017559;
$pink: #da017599;
$text: #4c4c4c;
$backgroundSideBar: #263238;
$menuSelected: #374952;
$textButton: #f7f7f7;
$backgroundCard: #374952;
$textButtonLogout: #323232;
$green: #4ec06e;
$blue: #5197b5;
$red: #ff4d4d;
$colorMenuCard: #263238;
$menuUnselected: #667e87;
